html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='../static/css/index.css')
    title Accueil - SportTrack
  body
    header
      nav
        ul.navbar
          li.btn
            a(href='/')
              img.logo(src='../images/logo.png', alt='logo')
          li.btn
            a(href='/') Accueil
            - if (session.user)
              li.btn
                a(href='/activities') Mes activitées
              li.btn
                a(href='/users/update') Mon compte
              li.btn
                a(href='/disconnect') Se déconnecter
            - else
              li.btn
                a(href='/users/add') S'inscrire
              li.btn
                a(href='/connect') Se connecter
              li.btn
              a(href='/about_us') À propos
            