extends layout

block content
  include header
  .formulaire
    h1.Sous_titre Ajouter des Activités
    
    section.error
      if error
        .error-message= error
    
    form(method='post' enctype='multipart/form-data')
      p Inserrez un nouveau fichier :
      input#filename(type='text' name='filename')
      input(type='file' accept='.json' name='foo')
      br
      input(type='submit' name='submit' value='Envoyer')
      script.
        document.addEventListener("DOMContentLoaded", function () {
          const fileInput = document.querySelector('input[type="file"]');
          const filenameInput = document.getElementById('filename');

          fileInput.addEventListener('change', function () {
              const selectedFile = fileInput.files[0];

              if (selectedFile) {
                  const reader = new FileReader();

                  reader.onload = function (event) {
                      try {
                          const jsonData = JSON.parse(event.target.result);
                          const description = jsonData.activity.description;
                          filenameInput.value = description;
                      } catch (error) {
                          console.error("Erreur lors de la lecture du fichier JSON :", error);
                      }
                  };

                  reader.readAsText(selectedFile);
              }
          });
        });
  include footer

